* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: blanchedalmond;
    background-color: brown;
}
h2 {
    text-align: left;
    background-color: aqua;
}
.css {
    background-color: blueviolet;
}
h5 {
    text-align: left;
    color: bisque;
}