div.gallery {
    margin: 0px;
    border: 1px solid white;
    float: left;
    width: 100px;
}
div.gallery:buffering {
    border: 1px solid gray;
}
div.gallery img {
    width: 100%;
    height:150px;

}
h1 {
    text-align:left;
    color: blueviolet;
}