*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(4,4,58);
  padding: 10px 20px;
}

.logo{
  color: white;
  font-size: 24px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li{
  margin: 0 15px;
}

.menu a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover{
  background-color: white;
  color: blueviolet;
  border-radius: 5px;
}

.menu-toggle{
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
    height: 3px;
    width: 25px;
    margin: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: blueviolet;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }

    .menu.active {
        display: flex;
    }
}
lab 17.js
const mobileMenu document.getElementById('mobile-menu'));
const menu document.queryselector('.menu');
mobileMenu.addEventlistener('click',() )
menu.classlist.toggle('active');
}
};



