* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center;
}

fieldset {
  width: 70%;
  margin: auto;
  padding: 20px;
}

fieldset legend {
  text-align: center;
}

#name,
#country,
#image,
#terms,
#phone,
#message,
#gender,
#address,
#lastbuttons {
  background-color: white;
}

.div-form-group {
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: white;
}

.div-form-group label {
  color: black;
  width: 100px;
  display: inline-block;
}

.div-form-group input,
.div-form-group select,
.div-form-group textarea {
  width: 60%;
}

.div-form-group input[type="radio"] {
  width: 5%;
}

.div-form-group input[type="checkbox"] {
  width: 5%;
}

.div-form-group.btn inputs {
  width: 20%;
  border: none;
  padding: 5px 0;
}

.div-form-group.btn input[type="submit"],
.div-form-group.btn input[type="checkbox"] {
  background-color: white;
  color: rgb(212, 212, 212);
}

.div-form-group.btn input[type="reset"] {
  background-color: red;
  color: white;
}

.div-form-group.btn input[type="submit"] {
  background-color: blue;
  color: white;
}

.div-form-group:last-child {
  border-bottom: none;
}

.div-form-group:nth-child(3n) {
  background-color: aliceblue;
}

.div-form-group:nth-child(3n+1) {
  background-color: rgb(239, 67, 93);
}

.div-form-group:nth-child(3n+2) {
  background-color: rgb(244, 244, 244);
}