*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100%;
    margin: 0;
}

.last div{
    width: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid red;
}

#p1{
    width: 100%;
    padding: 10px;
    background-color: red;
    height: 50px;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
}

#p2{
    padding: 20px;
    background-color: aquamarine;
    height: 50px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
}

#p3{
    float: left;
    height: 200px;
    background-color: azure;
    width: 30%;
    text-align: left;
    border: solid 2px black;
}

#p4{
    float: left;
    background-color: bisque;
    border: solid 2px black;
    width: 50%;
    height: 200px;
    margin: 0;
}

#p5{
    margin: 0;
    float: right;
    border: solid 2px black;
    height: 200px;
    width: 20%;
    background-color: beige;
    text-align: center;
}

#p6{
clear: both;
width: 100%;
height: 50px;
background-color: chartreuse;   
text-align: left;
line-height: 50px;
}